extends ./layout/index

block contenido
  main(class="w-11/12 max-w-screen-xl mx-auto")
    h1(class="mb-12 text-4xl text-center font-bold uppercase text-sky-700 md:text-5xl lg:text-6xl")= pagina

    div(class="grid grid-flow-dense md:grid-cols-2 gap-8") 
      div(class="md:col-start-2")
        p(class="mb-4 text-justify") Dundada en 1900, Agencia de Viaje nació con la misión de hacer que los sueños de viaje de nuestros clientes se hagan realidad. Desde nuestros humildes comienzos, hemos crecido hasta convertirnos en una de las agencias de viajes más respetadas y confiables de la región, gracias a nuestra dedicación y compromiso con la excelencia.

        p(class="mb-4 text-justify") En Agencia de Viaje, nuestra misión es proporcionar experiencias de viaje únicas e inolvidables. Nos esforzamos por ofrecer un servicio personalizado, adaptado a las necesidades y deseos individuales de cada uno de nuestros clientes. Creemos que cada viaje debe ser una aventura única, llena de momentos especiales que serán recordados para siempre.

        p(class="mb-4 text-justify") Ofrecemos una amplia gama de servicios de viaje. Diseñamos paquetes turísticos a medida para satisfacer tus intereses y presupuesto. Ya sea que busques una escapada relajante, una aventura llena de adrenalina o un recorrido cultural, tenemos el paquete perfecto para ti. Además, gestionamos las reservas de vuelos y alojamiento con tarifas competitivas y opciones flexibles, asegurando una experiencia sin estrés. 

        p(class="mb-4 text-justify") Nuestro equipo está compuesto por profesionales apasionados y experimentados en la industria del turismo. Con un profundo conocimiento de los destinos que ofrecemos y un compromiso inquebrantable con la excelencia en el servicio al cliente, estamos aquí para asegurarnos de que cada aspecto de tu viaje sea impecable. Nos enorgullece ofrecer un servicio personalizado y atento, brindando asistencia en cada paso del camino para garantizar que tengas la mejor experiencia de viaje posible.

        p(class="mb-4 text-justify") No solo lo decimos nosotros; nuestros clientes también han tenido experiencias maravillosas con nosotros. "Agencia de Viaje hizo que nuestra luna de miel fuera inolvidable. Cada detalle fue perfecto." - Juan y María. "Gracias a Agencia de Viaje, nuestro viaje familiar fue una experiencia increíble. Todo estuvo perfectamente organizado." - Familia Pérez. Estamos aquí para ayudarte a descubrir el mundo. Contáctanos hoy mismo y empieza a planificar tu próxima aventura con Agencia de Viaje. Ya sea por teléfono, correo electrónico o visitando nuestras oficinas, estaremos encantados de asistirte en todo lo que necesites.

        p(class="mb-4 text-justify") ¡Te esperamos!
        
      div( class="mb-12 md:grid-start-1")
        img(src="/img/nosotros.jpg", alt="imagen nosotros" class="object-cover w-full md:h-full")
  